/* All / Base */

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    border-bottom: 0.1rem solid #111;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-weight: 700;
}

.brand-align {
    padding-left: 4%;
}

.content-align {
    padding-right: 4%;
}

.section {
    padding: 3% 5%;
}

.banner-pad {
    padding: 7% 5%;
}

.socials {
    padding: 2% 2% 1%;
    color: black;
    font-size: 1.3rem;
}

/* Index */

.title-bg {
    background-image: url('../images/bg.jpg');
    background-position: center 45%;
    background-size: 110vmax;
    border-bottom: 0.1rem solid #eee;
}

.title {
    padding: 20% 4%;
}

h2.features-subtitle {
    margin: 4%;
}

div.points-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.key-points {
    display: flex;
    flex-direction: column;
}

div.point {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 7%;
}

img.point-size {
    width: 8rem;
    height: 8rem;
}

img.image-key1 {
    margin-right: 3rem;
}

img.image-key2 {
    margin-left: 3rem;
}

/* Download */

.list-spacing {
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Register */

.register-banner {
    background-image: url('../images/register-bg.jpg');
    background-position: center 54%;
    background-size: 112vmax;
}

/* Login */

.login-banner {
    background-image: url('../images/login-banner.jpg');
    background-position: center 55%;
    background-size: 100vmax;
    color: #ffffff;
}

.messages {
    color: red;
}

/* My Recipes */

.recipes-bg {
    background-image: url('../images/recipes-bg.jpg');
    background-position: center 50%;
    background-size: 100vmax;
}

.top-btn {
    position: fixed;
    bottom: 1%;
    right: 1%;
    color: white;
    background-color: black;
    cursor: pointer;
}

.top-btn:hover {
    color: white;
    background-color: #3C4048;
}

.category-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-category {
    margin-right: auto;
}

.category-dropdown {
    margin-left: auto;
}

.dropdown-item:hover {
    color: #FFFFFF;
    background-color: #3C4048;
}

.dropdown-item:active {
    color: #FFFFFF;
    background-color: #000000;
}

.category_icon {
    border-radius: 50%;
    width: 5vmax;
    height: 5vmax;
    margin: 3% 0 1%;
}

.cat-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 80%;
    padding-bottom: 2%;
}

.category-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 6%;
}

.modify-btn {
    font-size: 0.7rem;
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (max-width: 1200px) {
    .category-btn {
        flex: 0 1 13%;
    }
}

@media screen and (max-width: 850px) {
    .category-btn {
        flex: 0 1 17%;
    }
}

.card {
    width: 15rem;
    border-radius: 5%;
}

.card-images {
    border-radius: 5%;
    height: 15vmax;
    object-fit: cover;
}

.card-images:hover {
    opacity: 0.9;
}

/* Create Category / Recipes */

.cat-bg {
    background-image: url('../images/category-bg.jpg');
    background-position: center 40%;
    background-size: 100vmax;
}

.form-section {
    margin: 3% 50% 3% 0;
}

.create-btn {
    margin-top: 2%;
}

.cat-img {
    background-position: center 40%;
    background-size: 100vmax;
}

/* View Recipe */

.view-recipe {
    background-image: url('../images/view-recipe-bg.jpg');
    background-position: center 50%;
    background-size: 100vmax;
}

.recipe-name {
    padding-bottom: 4%;
}

.recipe-img {
    border-radius: 10%;
    object-fit: cover;
    width: 25vmax;
    height: 25vmax;
}

.schedule-day {
    padding: 0 50% 4% 0;
}

.recipe-content {
    padding-bottom: 4%;
}

.recipe-directions {
    padding-top: 4%;
}

.modify-content {
    margin-top: 8%;
}

/* My Week */

.day-content {
    padding-top: 4%;
}

.day-recipes {
    padding-bottom: 4%;
}

/* My Ingredients */

.ingredient-pad {
    padding-bottom: 1%;
}

.ingredient-spacing {
    padding-top: 1%;
}
.delete-btn {
    font-size: 0.8rem;
}

/* Search */

.search-content {
    padding: 0 50% 3% 0;
}

.search-cards {
    margin-bottom: 2%;
}
