{% extends 'base.html' %}

{% block title %}Add Ingredient{% endblock %}

{% block main %}

    <section class="addIngredientTitle">
        <div class="container-fluid cat-bg banner-pad text-start">
            <h2>Ingredient</h2>
        </div>
    </section>

    <section id="addIngredientForm">
        <div class="container-fluid section text-start">
            <div class="form-section">
                <form action="{{ url_for('add_ingredient', user_id=user_id) }}" method="post" novalidate>
                    {{ form.csrf_token }}
                    {{ form.name.label(class='form-label') }}
                    {{ form.name(class='form-control') }}
                    {{ form.submit(class='btn btn-dark create-btn') }} {{ form.cancel(class='btn btn-dark create-btn') }}
                </form>
            </div>
        </div>
    </section>

{% endblock %}