{% extends 'base.html' %}

{% block title %}Meal Planner{% endblock %}

{% block main %}
    <section id="introduction">
        <div class="container-fluid title-bg text-start">
            <div class="title">
                {% if current_user.is_authenticated %}
                <h1>Welcome {{ current_user.name }},</h1>
                <h3>Enjoy Planning Your Meals!</h3>

                {% else %}
                <h1>Welcome To Your Meal Prep Database!</h1>
                <h3>Meal Planning Made Easy</h3>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}