{% extends 'base.html' %}

{% block title %}Meal Planner{% endblock %}

{% block main %}
    <section id="introduction">
        <div class="container-fluid title-bg text-start">
            <div class="title">
                {% if current_user.is_authenticated %}
                <h1>Welcome {{ current_user.name }},</h1>
                <h3>Enjoy Planning Your Meals!</h3>

                {% else %}
                <h1>Welcome To Your Meal Prep Database!</h1>
                <h3>Meal Planning Made Easy</h3>
                {% endif %}
            </div>
        </div>
    </section>

    <section id="features">
        <div class="container-fluid text-center">
            <h2 class="features-subtitle">Features</h2>
            <div class="points-container">
                <div class="key-points">
                    <div class="point">
                        <img class="point-size image-key1" src="{{ url_for('static', filename='images/search-feature.png') }}">
                        <div>
                            <p>Ability to search for recipes at the click of button</p>
                        </div>
                    </div>
                    <div class="point">
                        <div>
                            <p>Keep track of all your recipes and assign them to any day of the week</p>
                        </div>
                        <img class="point-size image-key2" src="{{ url_for('static', filename='images/recipe-book.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}