{% extends 'base.html' %}

{% block title %}My Ingredients{% endblock %}

{% block main %}

    <section id="my-ingredients">
        <div class="container-fluid recipes-bg banner-pad text-start">
            <div>
                <h2>Ingredients</h2>
            </div>
        </div>
        <div class="back-to-top">
            <a href="#my-ingredients" class="btn top-btn" title="Back to top">
                <i class="fa-solid fa-angle-up"></i>
            </a>
        </div>
    </section>

    <section id="ingredients-body">
        <div class="container-fluid section text-start">

        </div>
    </section>
{% endblock %}
