{% extends 'base.html' %}

{% block title %}My Ingredients{% endblock %}

{% block main %}

    <section id="myIngredients">
        <div class="container-fluid recipes-bg banner-pad text-start">
            <div>
                <h2>Ingredients</h2>
            </div>
        </div>
        <div class="back-to-top">
            <a href="#myIngredients" class="btn top-btn" title="Back to top">
                <i class="fa-solid fa-angle-up"></i>
            </a>
        </div>
    </section>

    <section id="ingredientsContent">
        <div class="container-fluid section text-start">
            <span class="create-category"><a href="{{ url_for('add_ingredient', user_id=user_id) }}" class="btn btn-dark">Add Ingredient</a></span>
        </div>

        <div class="ingredients-list section">
            <ul class="list-group">
                {% for ingredient in user.current_ingredients %}
                <li class="list-group-item ingredient-spacing">
                    <div class="cat-control ingredient-pad">
                        {{ ingredient.name }}
                        <a class="btn btn-dark delete-btn" href="{{ url_for('delete_ingredient', user_id=user_id, ingredient_id=ingredient.id) }}">
                            <i class="fa-solid fa-x"></i>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
