{% extends 'base.html' %}

{% block title %}My Ingredients{% endblock %}

{% block main %}

    <section id="my-ingredients">
        <div class="container-fluid recipes-bg banner-pad text-start">
            <div>
                <h2>Ingredients</h2>
            </div>
        </div>
        <div class="back-to-top">
            <a href="#my-ingredients" class="btn top-btn" title="Back to top">
                <i class="fa-solid fa-angle-up"></i>
            </a>
        </div>
    </section>

    <section id="ingredients-body">
        <div class="container-fluid section text-start">
            <span class="create-category"><a href="{{ url_for('add_ingredient', user_id=user_id) }}" class="btn btn-dark">Add Ingredient</a></span>
        </div>

        <div class="ingredients-list section">
            <ul>
                {% for ingredient in user.ingredients %}
                <li>{{ ingredient.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
