{% extends 'base.html' %}

{% block title %}My Week{% endblock %}

{% block main %}
    <section id="my-week">
        <div class="container-fluid recipes-bg banner-pad text-start">
            <div>
                <h2>Schedule</h2>
            </div>
        </div>
        <div class="back-to-top">
            <a href="#my-week" class="btn top-btn" title="Back to top">
                <i class="fa-solid fa-angle-up"></i>
            </a>
        </div>
    </section>

    <section id="week-content">
        <div class="container-fluid section text-start">
            <div class="category-content">
                <span class="create-category"><a href="{{ url_for('random_recipe', user_id=user_id) }}" class="btn btn-dark">Generate Random Recipe</a></span>

                <span class="category-dropdown">
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Day
                        </button>
                        <ul class="dropdown-menu">
                            {% for day in user.my_week %}
                            <li><a class="dropdown-item" href="#{{ day.day_of_week }}">{{ day.day_of_week }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </span>
            </div>

            {% if random %}
            <div class="day-content">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="card">
                            <a href="{{ url_for('view_recipe', user_id=user_id, recipe_id=random.id) }}">
                                <img src="{{ random.img }}" class="card-img-top card-images" alt="recipe image">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ random.name }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="day-content">
                {% for day in user.my_week %}
                <div class="cat-control" id="{{ day.day_of_week }}">
                    <h3>{{ day.day_of_week }}</h3>
                </div>
                <div class="day-recipes">
                    <div class="row">
                        {% for recipe in day.my_recipes %}
                        <div class="col-lg-3 col-md-4">
                            <div class="card">
                                <a href="{{ url_for('view_recipe', user_id=user_id, recipe_id=recipe.id) }}">
                                    <img src="{{ recipe.img }}" class="card-img-top card-images" alt="recipe image">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.name }}</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}