{% extends 'base.html' %}

{% block title %}My Week{% endblock %}

{% block main %}
    <section id="my-week">
        <div class="container-fluid recipes-bg banner-pad text-start">
            <div>
                <h2>Schedule</h2>
            </div>
        </div>
        <div class="back-to-top">
            <a href="#my-week" class="btn top-btn" title="Back to top">
                <i class="fa-solid fa-angle-up"></i>
            </a>
        </div>
    </section>

    <section id="week-content">
        <div class="container-fluid section text-start">
            <div class="category-content">
                <span class="category-dropdown">
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Day
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#Sunday">Sunday</a></li>
                            <li><a class="dropdown-item" href="#Monday">Monday</a></li>
                            <li><a class="dropdown-item" href="#Tuesaday">Tuesday</a></li>
                            <li><a class="dropdown-item" href="#Wednesday">Wednesday</a></li>
                            <li><a class="dropdown-item" href="#Thursday">Thursday</a></li>
                            <li><a class="dropdown-item" href="#Friday">Friday</a></li>
                            <li><a class="dropdown-item" href="#Saturday">Saturday</a></li>
                        </ul>
                    </div>
                </span>
            </div>

            <div class="day-content">
                {% for recipe in user.recipes %}

                {% if recipe.my_week.day_of_week == "Sunday" %}
                <div class="cat-control">
                    <h3>Sunday</h3>
                </div>
                <div class="day-recipes">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="card">
                                <a href="{{ url_for('view_recipe', user_id=user_id, recipe_id=recipe.id) }}">
                                    <img src="{{ recipe.img }}" class="card-img-top card-images" alt="recipe image">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.name }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if recipe.my_week.day_of_week == "Monday" %}
                <div class="cat-control">
                    <h3>Monday</h3>
                </div>
                <div class="day-recipes">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="card">
                                <a href="{{ url_for('view_recipe', user_id=user_id, recipe_id=recipe.id) }}">
                                    <img src="{{ recipe.img }}" class="card-img-top card-images" alt="recipe image">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.name }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if recipe.my_week.day_of_week == "Tuesday" %}
                <div class="cat-control">
                    <h3>Tuesday</h3>
                </div>
                <div class="day-recipes">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="card">
                                <a href="{{ url_for('view_recipe', user_id=user_id, recipe_id=recipe.id) }}">
                                    <img src="{{ recipe.img }}" class="card-img-top card-images" alt="recipe image">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.name }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if recipe.my_week.day_of_week == "Wednesday" %}
                <div class="cat-control">
                    <h3>Wednesday</h3>
                </div>
                <div class="day-recipes">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="card">
                                <a href="{{ url_for('view_recipe', user_id=user_id, recipe_id=recipe.id) }}">
                                    <img src="{{ recipe.img }}" class="card-img-top card-images" alt="recipe image">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.name }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if recipe.my_week.day_of_week == "Thursday" %}
                <div class="cat-control">
                    <h3>Thursday</h3>
                </div>
                <div class="day-recipes">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="card">
                                <a href="{{ url_for('view_recipe', user_id=user_id, recipe_id=recipe.id) }}">
                                    <img src="{{ recipe.img }}" class="card-img-top card-images" alt="recipe image">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.name }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if recipe.my_week.day_of_week == "Friday" %}
                <div class="cat-control">
                    <h3>Friday</h3>
                </div>
                <div class="day-recipes">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="card">
                                <a href="{{ url_for('view_recipe', user_id=user_id, recipe_id=recipe.id) }}">
                                    <img src="{{ recipe.img }}" class="card-img-top card-images" alt="recipe image">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.name }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if recipe.my_week.day_of_week == "Saturday" %}
                <div class="cat-control">
                    <h3>Saturday</h3>
                </div>
                <div class="day-recipes">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="card">
                                <a href="{{ url_for('view_recipe', user_id=user_id, recipe_id=recipe.id) }}">
                                    <img src="{{ recipe.img }}" class="card-img-top card-images" alt="recipe image">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.name }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
    </section>

{% endblock %}