{% extends 'base.html' %}

{% block title %}My Week{% endblock %}

{% block main %}
    <section id="my-week">
        <div class="container-fluid recipes-bg banner-pad text-start">
            <div>
                <h2>Schedule</h2>
            </div>
        </div>
        <div class="back-to-top">
            <a href="#my-week" class="btn top-btn" title="Back to top">
                <i class="fa-solid fa-angle-up"></i>
            </a>
        </div>
    </section>

    <section id="week-content">
        <div class="container-fluid section text-start">
            <div class="category-content">
                {% if user.my_week.my_recipes %}
                <span class="category-dropdown">
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Day
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#{{ user.my_week.day_of_week }}">{{ user.my_week.day_of_week }}</a></li>
                        </ul>

                    </div>
                </span>
                {% endif %}
            </div>

            <div class="day-content">
                {% for day in user.my_week %}
                <div class="cat-control">
                    <h3>{{ day }}</h3>
                </div>
                {% for recipe in day %}
                <div class="day-recipes">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="card">
                                <a href="{{ url_for('view_recipe', user_id=user_id, recipe_id=recipe.id) }}">
                                    <img src="{{ recipe.img }}" class="card-img-top card-images" alt="recipe image">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.name }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}