{% extends 'base.html' %}

{% block title %}My Recipe Details{% endblock %}

{% block main %}
    <section id="recipeDetails">
        <div class="container-fluid view-recipe banner-pad text-start">
            <div>
                <h2>My Recipe</h2>
            </div>
        </div>
    </section>

    <section id="recipeDetailsContent">
        <div class="container-fluid section">
            <div class="recipe-name">
                <h3><span class="material-symbols-outlined">restaurant</span> {{ recipe.name }}</h3>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h5>Category</h5>
                    <p class="recipe-content">{{ recipe.recipe_type }}</p>
                    <h5>Website</h5>
                    <p class="recipe-content"><a href="{{ recipe.link }}">{{ recipe.link }}</a></p>

                    <div class="schedule-day">
                        <h5>Scheduled Day</h5>
                        <p>
                            {% if recipe.my_week.day_of_week %}
                            {{ recipe.my_week.day_of_week }}
                            {% else %}
                            Not Scheduled
                            {% endif %}
                        </p>
                        <form action="{{ url_for('view_recipe', user_id=user_id, recipe_id=recipe.id, week_id=recipe.my_week_id) }}" method="post" novalidate>
                            {{ form.csrf_token }}
                            {{ form.day.label(class='form-label') }}
                            {{ form.day(class='form-control') }} {{ form.submit(class='btn btn-dark create-btn') }}
                        </form>
                    </div>

                    <h5>Ingredients</h5>
                    <p>{{ recipe.ingredients | safe }}</p>
                    <h5 class="recipe-directions">Directions</h5>
                    <p>{{ recipe.directions | safe }}</p>

                    <div class="modify-content">
                        <a href="{{ url_for('edit_recipe', user_id=user_id, recipe_id=recipe.id) }}" class="btn btn-dark" role="button">Edit</a>
                        <a href="{{ url_for('delete_recipe', user_id=user_id, recipe_id=recipe.id) }}" class="btn btn-dark" role="button">Delete</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <img src="{{ recipe.img }}" class="recipe-img">
                </div>
            </div>
        </div>
    </section>

{% endblock %}
